version: '3.3'
services:

  frontend:
    container_name: yeti-frontend
    build:
      dockerfile: ./frontend/Dockerfile
    platform: linux/amd64
    image: yetiplatform/yeti-frontend:latest
    ports:
      - 80:80
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

  api:
    container_name: yeti-api
    image: yetiplatform/yeti:latest
    platform: linux/amd64
    build:
      dockerfile: ./yeti/Dockerfile
    env_file:
      - ${YETI_DOCKER_ENVFILE}
    entrypoint:
      - /docker-entrypoint.sh
    command: ["webserver"]
    ports:
      - 8000:8000
    depends_on:
      - redis
      - arangodb
    volumes:
      - /tmp/docker-yeti-exports:/opt/yeti/exports

  tasks:
    container_name: yeti-tasks
    image: yetiplatform/yeti:latest
    build:
      dockerfile: ./yeti/Dockerfile
    env_file:
      - ${YETI_DOCKER_ENVFILE}
    command: ['tasks']
    depends_on:
      - redis
      - arangodb
      - api

  redis:
    container_name: yeti-redis
    image: redis:latest

  arangodb:
    container_name: yeti-arangodb
    image: arangodb
    ports:
      - 127.0.0.1:8529:8529
    environment:
      - ARANGO_ROOT_PASSWORD=

networks:
  default:
    name: yeti_network
